.all-products{
    display: flex;
    flex-direction: column;
    background: #F3F4F6;
}
.display-products{
    display: flex ;
}
.container-mobile{
    display:  none;
    position: sticky;
    top: 90px ;
    background: #f4f4f4;
    padding: 10px ;
    z-index: 5;
}
.all-products .filter-mobile{
    display: none !important;
}
.search-mobile{
   position: relative;
}
.search{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2) ;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 20px 0px ;
    background: #FFFFFF;
    margin-left: 22px;
}
.dataResultMobile{
    width: 220px;
    min-height: 60px;
    max-height: 120px;
    background-color: white;
    overflow-y: auto;
    position: absolute;
    top :100%;
    right: 2% ;
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2) ;
}
.dataResultMobile a{
    text-decoration: none;
    text-decoration-style: none;
    color: #777777;
  }
.search input {
    border: 0px ;
    font-size: 13px ;
    font-weight: 400;
    outline: none;
    background: #FFFFFF;
    width: 180px;
    margin: 0px 5px;
}
 .search .icon-search{
    background :white ; 
    color: #989898;  
    margin: 0px 10px;
}
.btn-filter-mobile{
   padding: 15px 20px   ;
   background : #119DFF;
   color: #FFFFFF;
   border-radius: 10px;
   border: none;
}
.list {
    background: #f4f4f4;
    width: 0%;
    height: calc(100vh - 90px) ;
    position: fixed;
    top: 80px;
    left: 0px ;
    display: none;
    z-index: 500;
    overflow: hidden;
    transition: 0.42s;
}
.open{
    width: 45% !important;
}
.display{
    height: 50px ;
    width: 100%;
    display: flex;
    align-items: center;
    background: #119DFF;
    justify-content: flex-end;
}
.icon-time{
    color: white;
    margin-right: 10px ;
    margin-top: 5px ;
}
@media (min-width : 700px) and (max-width:1024px){
   
    .container-filter-mobile{
        width: 350px ;     
    }
    
} 
@media (min-width : 281px) and (max-width:660px){
    .container-mobile{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px ;
        padding-inline:0.3rem;
     
    }    
    .list{
        display: block;
    }
}

@media (max-width :280px){
    .container-mobile{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 5px  ;
        flex-direction: column-reverse;
    }
    .search{
        margin:20px 
    }
    .btn-filter-mobile{
       padding: 8px 35px ;
    
    }
    .list{
        display: block;
    }
}