.slider-image{
    width: 100%;
    height: 350px;
    margin: 20px 0px ;
    padding-inline :1vw ;
}
@media (min-width :700px ) and (max-width :1024px ){

}
@media (min-width :281px ) and (max-width :680px ){
    .slider-image{

        height: 200px;
        padding-inline:0.6rem;
      
    }
}
@media (max-width :281px ) {
    
}
