
.section{
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #F3F4F6;
}
.home-watch{
  padding-inline: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-home{
 width: 45%;
}
.section-home h2{
  color: #119DFF;
  font-size: 35px ;
  font-weight: 900;
  margin-bottom: 20px ;
}
.section-home h4{
  color: #777;
  font-weight: 400;
  font-size: 18px ;
  margin-bottom: 20px ;
  line-height: 35px ;
}
.section-home button{
  padding: 15px 25px ;
  color: white;
  background: #119DFF;
  border: none;
}
.img-home{
 justify-content: center;
 align-items: center;
 display: flex;
 width :40%
}
.img-home img {
  width: 100%;
 }
  .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 25px;
      padding: 30px 50px;
      width: 100%;
      padding-inline: 1.5vw;
    }
     .section h3{
      padding: 35px;
      font-size: 30px;
      font-weight: 900;
      color: #119DFF;
     }
    .grid-container >div{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0px 2px 4px rgba(0,0,0,0.2) ;
     background: white;
     transition: 0.3ms ease;
     cursor: pointer;
    }
    .grid-container >div:hover{
      transform: scale(1.01);
    }
    .grid-container div img{
      height: 200px;
      width: 80%;
      background: none;
      margin: 10px;
    }
    .grid-container div button{
      padding: 10px 80px;
      margin: 15px;
      border:none;
      background: #119DFF;
      color:white;
    }
  .section-button{
    padding: 15px 32px ;
    margin: 30px;
    background: #119DFF;
    color:white;
    border: none;
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 5px 0px ;
    background: none;
  }
  .info >*{
    background: none;
    font-size: 15px;
  }
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #777;
    background: #f4f4f4;
    margin: 15px 0px ;
}
.footer .footer-icons >*{
    margin: 0.5rem;
    transition: .3s;
}
.footer-icons >*:hover{
    opacity: 0.5;
    cursor: pointer;
}
body{
    background: #f4f4f4;
}
@media (min-width : 700px) and (max-width:1024px){
  *{
    font-size: 25px ;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
   .footer > div{
    font-size: 18px ;
    text-align: center;
   }
   .home-watch{
    width: 100% ;
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
   }
   .section-home{
    width: 100%;
   }
   .section-home>*{
    width: 100%;
   }
   .img-home{
    width: 100%;
   }
 
}

@media (min-width : 281px) and (max-width:660px){

.grid-container {
  grid-template-columns: 1fr;
  gap: 25px;
  padding: 30px 50px;
  width: 100%;
}.section h3{
  padding: 20px;
  font-weight: 600;
 }
 .footer > div{
  font-size: 13px ;
  text-align: center;
 }
 .home-watch{
  width: 100% ;
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
 }
 .section-home{
  width: 100%;
 }
 .section-home>*{
  width: 100%;
 }
 .img-home{
  width: 100%;
 }
}

@media (max-width :280px){
  *{
      font-size: 12px ;
  }

  .grid-container {
    grid-template-columns: auto;
    gap: 15 px;
    padding: 10px 15px ;
    width: 100%;
  }.section h3{
    padding-inline : 5px;
    text-align: center;
    font-size: 20px ;
    font-weight: 700;
    margin: 10px;
   }
  .section h3{
    padding: 20px;
    font-weight: 600;
    padding-inline :5px;
   }
   .footer> div{
    text-align: center;
    font-size: 12px;
   }
   .home-watch{
    width: 100% ;
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
   }
   .section-home{
    width: 100%;
   }
   .section-home>*{
    width: 100%;
   }
   .img-home{
    width: 100%;
   }
   .section-home h2{
   
    font-size: 30px ;
    font-weight: 700;
   
  }
}






