@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    scroll-behavior: ease;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 999;
    padding-top: 10px ;
    background: #f4f4f4;
    padding-inline: 1.5vw;
}
.site-name a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #119DFF;
    width: 200px ;
    padding: 10px ;

}
.site-name h3{
    font-size:18px ;
    width: 80%;
}
.logo {
    height: 60px ;
    width : 60px ;
    padding: 10px ;
}
nav .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px ;
}
.icons{
  color: #999999;
}
.div-shop{
    display: flex;
    position: relative;
}
.div-shop div{
    background: #119DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 16px;
    width: 16px;
    font-size: 10px;
    color: white;
    position : absolute;
    right: -7px;
    top:20% 
}
@media (min-width : 700px) and (max-width:1024px){
    nav{
        padding-inline: 10px  ;
    }
    .site-name h3{
        font-size:20px ;
    }
    .logo {
        height: 70px ;
        width : 70px ;
        padding: 10px ;
    }
}
@media (min-width : 281px) and (max-width:660px){
    nav {
       padding-inline: 0.5rem;
    }
    nav .icon {
        transform: scale(0.955);
      }
}

@media (max-width :280px){

    *{
        font-size: 15px ;
    }
    nav{
        padding-inline : 0.3rem;
    }
    nav .icon {
      transform: scale(0.8);
      }
   
}