section{
    display: flex;
    flex-direction: column;
}
.container-details{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    background: white;
    width: 100%;
}
.container-details img{
  margin: 20px;
  height: 450px;
  width: 450px;
  margin-left: 7%;
  background: none;
}
.container-details  div{
    margin: 10px;
    background: none;
}
.container-details  div >*{
    margin: 20px;
    background: none;
}
.container-details div h5{
    font-size: 35px;
    font-weight: 600;
    color: #5D5D5D;
}
.container-details div h4{
    font-size: 20px;
    color: #BCBCBC;
}
#add-to-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;  
   
}
#add-to-cart h6{
    font-size: 20px;
    margin: 0px;
    color: #717171;
    background: none;  
}
#add-to-cart button{
    padding: 15px 30px;
    font-size: 15px;
    color: white;
    background: #119DFF;
    border: none;
    transition: 0.3s ease;
}
#add-to-cart button:hover{
    cursor: pointer;
    transform: scale(1.04);
}


@media (min-width : 700px ) and (max-width :1024px ) {
    
    .container-details{
        flex-direction: column;
        margin: 4rem 0px ;
    }
    .container-details>*{
        font-size: 35px !important;
    }
    .container-details img{
        height: 400px;
        width: 400px;
}
}
@media (min-width : 281px ) and (max-width :660px ) {
    .container-details{
        flex-direction: column;
    }
    .container-details img{
        height: 300px;
        width: 300px;
}
}

@media (max-width : 280px ){
    .container-details{
        flex-direction: column;
        margin: 3rem 0px ;
    }
    .container-details img{
        height: 200px;
        width: 200px;
    }
    #add-to-cart h6{
    font-size: 15px;
    }
    #add-to-cart button{
        padding: 10px 20px ;
        font-size: 15px;
     }
     #add-to-cart{ 
        width:100% ;
        padding-inline: 5px;
    }
    .container-details  div >*{
        text-align: center;
    }
}