.container-product-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2)  ;
    background: white;
    transition: 0.3ms ease;
}
.container-product-details img{
    width: 80%;
    background: none;
    margin: 10px;
}
.container-product-details button{
    padding: 10px 85px ;
    margin: 20px;
    background: #119DFF;
    color:white;
    border: none;
}
#details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 5px 0px ;
    background: none;
    font-size: 15px !important;
    color: #777;
}
#details h4 {
    background: none;
}
.see-details-btn{
    background: none;
}
.see-details-btn a{
    background: none;
}
.see-details-btn a button:hover{
    cursor: pointer;
}
@media (min-width : 700px) and (max-width:1024px){
    .container-product-details img{
        height: 220px;
        width: 50%;
    }
    #details{
        font-size: 15px !important;
    }
}
@media (width : 540px){
    .container-product-details img{
        height: 180px;
        width: 90%;
    }
}